@use "./mixins" as *;
@use "./variables" as *;
@use "./typography";

.wrapper {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @include tablet {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }

  @include desktop {
    max-width: $wrapper-max-width;
    margin: auto;
    width: 100%;
    padding-left: 3rem;
    padding-right: 0;
  }

  .hero & {
    height: 100%;
  }
}

a {
  text-decoration: none;
}

.row {
  @include desktop {
    display: flex;
  }
}
