@use "./variables" as *;

@mixin flex($spacing: space-between, $direction: row, $align: center) {
  display: flex;
  justify-content: $spacing;
  flex-direction: $direction;
  align-items: $align;
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
