@font-face {
  font-family: Avenir;
  src: url("../../assets/font/alternative-files/AvenirNextLTPro.ttf")
      format("truetype"),
    url("../../assets/font/AvenirNextLTPro-Bold.otf") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url("../../assets/font/alternative-files/AvenirNextLTProBold.ttf")
      format("truetype"),
    url("../../assets/font/AvenirNextLTPro-Regular.otf") format("woff");
  font-style: normal;
  font-weight: 700;
}
