$brand-primary-black: #323232;
$brand-primary-blue: #0095ff;
$brand-secondary-dark-black: #000000;
$brand-secondary-dark-blue: #0065ad;
$brand-secundary-alabaster: #fafafa;
$brand-color-silver: #afafaf;
$bran-color-mercury: #e1e1e1;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$wrapper-max-width: 1280px;
