@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;

  @include tablet {
    @include flex(null, row, nul);
    background-color: $brand-secondary-dark-black;
    height: 71vh;
  }

  @include desktop {
    height: 90vh;
    padding: 0 6rem;
  }
}
