@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";
@use "../../styles/partials/global" as *;
@use "../../styles/partials/resets" as *;

.next {
  @include flex(flex-start, row, flex-start);
  padding: 0.3rem 0;

  @include desktop {
    padding: 0.7rem 0;
  }

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 100%;
  }

  &__video {
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
    width: 40%;
    height: 7rem;
    margin-right: 1rem;
    border-radius: 0.5rem;

    @include desktop {
      width: 41%;
      height: 8rem;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.7rem;
    font-size: 1.3rem;
    font-weight: 700;

    @include desktop {
      font-size: 1.4rem;
    }
  }

  &__subTitle {
    margin-top: 0;
    font-size: 1.3rem;

    @include desktop {
      font-size: 1.4rem;
    }
  }
}
