@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
  &__title {
    margin-top: 3.5rem;
    font-size: 3rem;
    font-weight: 600;

    @include tablet {
      padding-bottom: 3rem;
      border-bottom: 1.6px solid $bran-color-mercury;
    }

    @include desktop {
      margin: 4rem 7rem;
      margin-right: 10rem;
      padding-bottom: 4rem;
    }
  }

  &__title-video {
    color: $brand-color-silver;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 3rem;

    @include desktop {
      margin-bottom: 0;
      margin-top: 0;
      padding-top: 0;
      font-size: 1.3rem;
    }
  }

  &__img {
    padding-top: 0;
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;

    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 100%;
      padding-top: 0.3rem;
    }
  }

  &__container {
    @include desktop {
      @include flex(flex-start, row, flex-start);
    }
  }

  &__image {
    @include desktop {
      @include flex(flex-start, column, null);
      padding-left: 7rem;
    }
  }
}

.form-upload {
  @include flex(center, column, null);

  @include desktop {
    @include flex(flex-start, column, null);
    padding-left: 2.5rem;
    padding-right: 13rem;
  }

  &__video {
    @include flex(null, column, flex-start);
    margin-top: 1rem;
  }

  &__title {
    color: $brand-color-silver;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0;
  }

  &__description {
    margin-top: 1rem;

    @include tablet {
      @include flex(center, column, null);
      width: 100%;
    }
  }

  &__input {
    background-color: $brand-secundary-alabaster;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $bran-color-mercury;
    margin: 1rem 0;
    font-family: Avenir;
    height: 4.7rem;
    resize: none;
    padding: 2rem;

    &:focus {
      outline: none;
    }

    @include tablet {
      width: 100%;
      height: 4rem;
    }

    @include desktop {
      width: 67rem;
      height: 4rem;
    }
  }

  &__add {
    @extend .form-upload__input;
    height: 10rem;
  }

  &__btn {
    @include flex(space-around, null, center);
    background-color: $brand-primary-blue;
    border: 0;
    width: 29rem;
    height: 4rem;
    border-radius: 4px;
    color: white;
    position: relative;
    font-size: 1.5rem;
    font-family: Avenir;
    font-weight: 700;
    cursor: pointer;

    @include tablet {
      margin: 0 2rem;
      width: 15rem;
      font-size: 1.2rem;
    }
  }

  &__publish {
    background-image: url(../../assets/icons/publish.svg);
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    background-size: 2rem;

    @include tablet {
      margin: 0;
    }
  }

  &__cancel {
    color: $brand-primary-blue;
    text-align: center;
    margin: 4rem 0;
    font-weight: 700;

    @include tablet {
      padding-right: 6rem;
    }
  }

  &__container {
    margin-top: 3rem;
    border-top: 1px solid $bran-color-mercury;

    @include tablet {
      @include flex(flex-start, row-reverse, null);
      align-items: baseline;
    }

    @include desktop {
      border-top: 0px;
    }
  }
}
